<?xml version="1.0" encoding="utf-8"?>
<VarXML>
	<Var name="Bang Bang" type="list">
		<Var name="Acc" type="double" minval="0.000000" maxval="">
			4.000000
		</Var>
		<Var name="Dec" type="double" minval="0.000000" maxval="">
			4.000000
		</Var>
		<Var name="Max Vel" type="double" minval="0.000000" maxval="">
			4.000000
		</Var>
		<Var name="POS PID KP" type="double" minval="0.000000" maxval="">
			3.500000
		</Var>
		<Var name="POS PID KI" type="double" minval="0.000000" maxval="">
			0.000000
		</Var>
		<Var name="POS PID KD" type="double" minval="0.000000" maxval="">
			2.000000
		</Var>
		<Var name="TH PID KP" type="double" minval="0.000000" maxval="">
			1.500000
		</Var>
		<Var name="TH PID KI" type="double" minval="0.000000" maxval="">
			0.000000
		</Var>
		<Var name="TH PID KD" type="double" minval="0.000000" maxval="">
			0.000000
		</Var>
	</Var>
	<Var name="Kalman" type="list">
		<Var name="Use Kalman" type="bool">
			true
		</Var>
		<Var name="Blindness" type="int" minval="" maxval="">
			40
		</Var>
		<Var name="Delay Time" type="double" minval="0.000000" maxval="">
			0.000000
		</Var>
	</Var>
	<Var name="ERRT" type="list">
		<Var name="Draw Path" type="bool">
			true
		</Var>
		<Var name="Goal Probablity" type="double" minval="0.000000" maxval="">
			0.300000
		</Var>
		<Var name="Waypoint Catch Probablity" type="double" minval="0.000000" maxval="">
			0.600000
		</Var>
		<Var name="Extend Step" type="double" minval="0.000000" maxval="">
			0.100000
		</Var>
		<Var name="Target Distance Threshold" type="double" minval="0.000000" maxval="">
			0.010000
		</Var>
	</Var>
	<Var name="Pass Positioning" type="list">
		<Var name="Big Step X" type="double" minval="0.000000" maxval="">
			1.000000
		</Var>
		<Var name="Big Step Y" type="double" minval="0.000000" maxval="">
			0.800000
		</Var>
		<Var name="Small Step X" type="double" minval="0.000000" maxval="">
			0.300000
		</Var>
		<Var name="Small Step Y" type="double" minval="0.000000" maxval="">
			0.300000
		</Var>
		<Var name="Ball deceleration" type="double" minval="0.000000" maxval="">
			2.000000
		</Var>
		<Var name="ChipPass Recv StayBackFactor" type="double" minval="0.000000" maxval="">
			2.000000
		</Var>
	</Var>
	<Var name="Coach" type="list">
		<Var name="Kick Threshold" type="double" minval="0.000000" maxval="">
			0.100000
		</Var>
		<Var name="OneTouch Kick Threshold" type="double" minval="0.000000" maxval="">
			0.050000
		</Var>
		<Var name="OneTouch Angle Threshold" type="double" minval="0.000000" maxval="">
			75.000000
		</Var>
		<Var name="Kick Closed Angle" type="double" minval="0.000000" maxval="">
			40.000000
		</Var>
	</Var>
	<Var name="Plotter" type="list">
		<Var name="Repaint FrameRate" type="int" minval="" maxval="">
			100
		</Var>
		<Var name="Time" type="double" minval="0.000000" maxval="">
			10.000000
		</Var>
		<Var name="Port for Network Mode" type="int" minval="" maxval="">
			20020
		</Var>
	</Var>
	<Var name="Ball Tracker &amp; Vision" type="list">
		<Var name="active Cams" type="int" minval="" maxval="">
			2
		</Var>
		<Var name="On / Off" type="bool">
			false
		</Var>
		<Var name="Select Ball Mode" type="bool">
			true
		</Var>
		<Var name="Ball Insistance" type="int" minval="" maxval="">
			200
		</Var>
		<Var name="Camera 1" type="bool">
			true
		</Var>
		<Var name="Camera 2" type="bool">
			true
		</Var>
		<Var name="Camera 3" type="bool">
			true
		</Var>
		<Var name="Camera 4" type="bool">
			true
		</Var>
	</Var>
	<Var name="Motion Profiler" type="list">
		<Var name="Activate Profiler" type="bool">
			false
		</Var>
		<Var name="Auto Reset" type="bool">
			true
		</Var>
		<Var name="Draw Robot Path" type="bool">
			false
		</Var>
		<Var name="Draw Robot Velocity" type="bool">
			false
		</Var>
		<Var name="Draw Robot Direction" type="bool">
			false
		</Var>
	</Var>
	<Var name="Skills Parameters" type="list">
		<Var name="bangbangTrajectory" type="list">
			<Var name="first Degree Threshold" type="double" minval="0.000000" maxval="">
				10.000000
			</Var>
			<Var name="first Degree Coeffecient" type="double" minval="0.000000" maxval="">
				1.000000
			</Var>
			<Var name="second Degree Threshold" type="double" minval="0.000000" maxval="">
				20.000000
			</Var>
			<Var name="second Degree Coeffecient" type="double" minval="0.000000" maxval="">
				2.000000
			</Var>
			<Var name="third Degree Threshold" type="double" minval="0.000000" maxval="">
				45.000000
			</Var>
			<Var name="third Degree Coeffecient" type="double" minval="0.000000" maxval="">
				4.000000
			</Var>
			<Var name="forth Degree Coeffecient" type="double" minval="0.000000" maxval="">
				4.000000
			</Var>
		</Var>
		<Var name="traj_bangbang_tangent" type="list">
			<Var name="first Dist Threshold" type="double" minval="0.000000" maxval="">
				0.100000
			</Var>
			<Var name="first Dist Coeffecient" type="double" minval="0.000000" maxval="">
				8.000000
			</Var>
			<Var name="second Dist Threshold" type="double" minval="0.000000" maxval="">
				0.050000
			</Var>
			<Var name="second Dist Coeffecient" type="double" minval="0.000000" maxval="">
				4.000000
			</Var>
			<Var name="third Dist Threshold" type="double" minval="0.000000" maxval="">
				0.035000
			</Var>
			<Var name="third Dist Coeffecient" type="double" minval="0.000000" maxval="">
				2.000000
			</Var>
			<Var name="forth Dist Threshold" type="double" minval="0.000000" maxval="">
				0.025000
			</Var>
			<Var name="forth Dist Coeffecient" type="double" minval="0.000000" maxval="">
				1.000000
			</Var>
			<Var name="fifth Dist Threshold" type="double" minval="0.000000" maxval="">
				0.005000
			</Var>
			<Var name="fifth Dist Coeffecient" type="double" minval="0.000000" maxval="">
				0.000000
			</Var>
		</Var>
		<Var name="Kick one Touch" type="list">
			<Var name="Landa" type="double" minval="0.000000" maxval="">
				0.200000
			</Var>
			<Var name="Gamma" type="double" minval="0.000000" maxval="">
				0.900000
			</Var>
			<Var name="Delay" type="double" minval="0.000000" maxval="">
				0.020000
			</Var>
			<Var name="Time Factor" type="double" minval="0.000000" maxval="">
				1.000000
			</Var>
		</Var>
		<Var name="Mark" type="list">
		</Var>
		<Var name="Clear Ball" type="list">
			<Var name="Margin for Target Behind the ball" type="double" minval="0.000000" maxval="">
				0.150000
			</Var>
			<Var name="margin for checking if point is clear" type="double" minval="0.000000" maxval="">
				0.300000
			</Var>
			<Var name="Switching Deg Threshold" type="double" minval="0.000000" maxval="">
				0.020000
			</Var>
			<Var name="Successful clear dist" type="double" minval="0.000000" maxval="">
				1.000000
			</Var>
			<Var name="Successful clear dist to target" type="double" minval="0.000000" maxval="">
				0.500000
			</Var>
			<Var name="max dist to push ball" type="double" minval="0.000000" maxval="">
				0.500000
			</Var>
		</Var>
		<Var name="Push" type="list">
			<Var name="Velocity of Pushing" type="double" minval="0.000000" maxval="">
				1.000000
			</Var>
		</Var>
	</Var>
	<Var name="Roles Parameters" type="list">
		<Var name="Mark" type="list">
			<Var name="Dist To Marked Opponent" type="double" minval="0.000000" maxval="">
				0.160000
			</Var>
			<Var name="Gamma" type="double" minval="0.000000" maxval="">
				0.700000
			</Var>
		</Var>
		<Var name="Goalie" type="list">
			<Var name="ID" type="int" minval="" maxval="">
				0
			</Var>
		</Var>
	</Var>
	<Var name="Performance" type="list">
		<Var name="Monitor" type="list">
			<Var name="Max Debug Level" type="int" minval="" maxval="">
				10
			</Var>
			<Var name="Robots" type="bool">
				true
			</Var>
			<Var name="Arcs" type="bool">
				true
			</Var>
			<Var name="Polygons" type="bool">
				true
			</Var>
			<Var name="Rects" type="bool">
				true
			</Var>
			<Var name="Segments" type="bool">
				true
			</Var>
			<Var name="Points" type="bool">
				true
			</Var>
			<Var name="Texts" type="bool">
				true
			</Var>
		</Var>
		<Var name="Debug" type="list">
			<Var name="Game" type="bool">
				true
			</Var>
			<Var name="Experiment" type="bool">
				false
			</Var>
			<Var name="Debug" type="bool">
				true
			</Var>
			<Var name="Temp" type="bool">
				false
			</Var>
			<Var name="KK" type="bool">
				false
			</Var>
			<Var name="DON_MHMMD" type="bool">
				false
			</Var>
			<Var name="Erfan" type="bool">
				false
			</Var>
			<Var name="Mahi" type="bool">
				false
			</Var>
			<Var name="Mani" type="bool">
				false
			</Var>
			<Var name="Arash" type="bool">
				false
			</Var>
			<Var name="Ali" type="bool">
				false
			</Var>
			<Var name="Sepehr" type="bool">
				false
			</Var>
			<Var name="Masood" type="bool">
				false
			</Var>
			<Var name="Mohammed" type="bool">
				false
			</Var>
			<Var name="Hossein" type="bool">
				false
			</Var>
		</Var>
	</Var>
	<Var name="Experiments" type="list">
		<Var name="Automated Referee" type="list">
			<Var name="Multicast Addr" type="string">
				224.5.23.1
			</Var>
			<Var name="Multicast Port" type="int" minval="" maxval="">
				10011
			</Var>
		</Var>
	</Var>
</VarXML>
